.shadow-sm > img {
  /* width: 100%; */
  height: 180px;
  border: 1px solid lightgray;
  padding: 1px;
}

.shadow-sm {
  border-radius: 0px;
  background: lightgray;
  margin-top: 30px;
  /* color: white; */
}

.fa-thumbs-o-up:hover {
  color: black;
  transform: scale(1.2);
  padding: 2px;
  transition: width 0.35s ease-in-out;
}

.likeCounts {
  font-family: Helvetica;
  font-size: 13px;
}

.btn-live {
  border: 1px solid black;
  background: black;
  color: white;
}

.btn-sourceCode {
  border: 1px solid black;
  color: black;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.01);
  transition: 0.35s ease-in-out;
}

.btn-live,
.btn-sourceCode {
  border-radius: 0px !important;
}

.linkDots {
  text-decoration: none;
  margin-left: 5px;
  font-size: 18px;
  color: black;
}
